body {
    font-family: 'Montserrat', sans-serif;
    /*margin: 0;*/
}

/* special margins, rows, headers, padding */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.row {
    margin: 0;
}

hr {
    margin-top: .5rem;
}

/*  Navbar */

.container-navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;

}

.navbar {

    background-color: #1CA32A;
    margin: 0;
    border: 0;
    opacity: 0.95;
    font-weight: bold;
}

.navbar .navbar-toggler {
    border: 0;
}

/*  Containers */

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-landing {
    height: 80vh;
    /* different heights on different screens - test*/
    background: url("../images/holbox1.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


/* Dividers */

.block-divider {
    width: 90px;
    height: 5px;
    border: 0;
}

.block-divider--short {
    width: 50px;

}

.block-divider--orange {

    background-color: #ffa31a;
}

.block-divider--white {

    background-color: #fff;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-fluid {
    /*padding-top: 50px; /* iphone top padding too close to Nav */
}

.jumbotron-header {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    margin: 10px;
}

.jumbotron-lead {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin: 5px;
}

/* Footer */

#footer {
    height: 45vh;
    background-color: #1CA32A;
    margin: 0;
}

#footer i {
    color: #fff;

}


.footer-header {
    height: 10vh;
    text-align: center;
}

.text-uppercase {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
}

.inline-block {

    display: inline-block;
    text-align: center;
    /* icons to the center */
}

.row-stats {
    text-align: center;
    padding: 4px 10px;
    margin: 0;
    /* stats row center*/
}

.stats-text {
    font-size: 1em;
    text-align: center;
    display: block;
    color: #fff;
    padding-top: 10px;
}


/* media queries */

@media screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;

    }
}
