body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%
    width: 100%;
}

/* navigation */

.navbar {
    background-color: #1CA32A;
}

/* jumbotron/containers */

.jumbotron {
    height: 100%;
    width: 100%;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.01);
}


.main-container {
    min-height: 35rem;
    /* vh has different results on different screens*/
    background: url("../images/holbox.jpg") no-repeat bottom center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 0;
}

.main1-container {

    min-height: 35rem;
    min-width: 100%;
    /* vh has different results on different screens*/
    background: url("../images/ankor.wat.jpg") no-repeat bottom center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    width: 100%;
    margin: 0;
    z-index: -1;
}

.main2-container {
    min-height: 35rem;
    /* vh has different results on different screens*/
    background: url("../images/ho.chi.jpg") no-repeat bottom center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 0;
    z-index: -1;
}


/* names/titles */

.name {
    position: relative;
    font-size: 55px;
    font-weight: bold;
    top: 40px;
    left: 10px;
    color: #fff;
    text-align: center;
    border: 0px;
    padding: 1px;
}

h3 {
    position: relative;
    top: 130px;
    left: 10px;
    color: #fff;
    text-align: center;
    border: 0px;
    padding: 1px;
}

.name1 {
    position: relative;
    font-size: 55px;
    font-weight: bold;
    top: 5px;
    left: 10px;
    color: #fff;
    text-align: center;
    border: 0px;
    padding: 1px;
}

/* Tips */

.tips-cards {
    top: 50px;
    left: 2px;
    padding: opacity: 0.8;
    display: inline-table;
    justify-content: center;
    align-items: center;
}

.col-xs-6 {
    align-items: center;
    padding: 0;
}

.col-sm-4 {
    width: 30%;
}

/* cards */

.card {
    background-color: #fdfdfd;
    border-radius: 1px;
    width: 14rem;
    left: 35px;
    top: 25px;
    margin: 5px;
    padding: 5px;
    align-items: center;
    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

/* .card:hover {
    opacity: 1;
}
*/

.card-body {
    padding: 15px;
    margin: 0;
}

.card-title {}

/* score-card/row-score */

/*

.tips-icon  { 
    top: 50px;
    left: 10px;
    padding: 5px;
} 

.tips-icon i {
    color: white;
} 

*/

.stats-text1 {
    color: white;
    padding: 2px;
    margin: 2px;
    display: block;
}




/* Footer */

footer {
    background-color: #1CA32A;
    height: 15rem;

}

footer-tips {
    height: 5rem;

}

footer h5 {
    margin: 10px;
    padding: 0;
    color: white;
    font-size: 25px;
    font-style: italic;
    margin-top: 0;
    margin-left: 5px;
    text-align: center;
}

.row.row-stats i {
    margin-left: 5px;
    padding: 15px;
    text-align: center;

}

footer i {

    color: white;
    text-align: center;
}


.inline-block {

    display: inline-block;
}

.stats-text {
    color: white;
    padding: 2px;
    margin: 2px;
    display: block;

}

/* special text, margin, padding etc */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {

    text-transform: uppercase;
}


/* media queries */

@media screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;

    }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .main1-container {
            height: 65rem;
        }
}
