body {
    font-family: 'Montserrat', sans-serif;
    /*margin: 0;*/
}

/* special margins, rows, headers, padding */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.row {
    margin: 0;
}

hr {
    margin-top: .25rem;
}

/*  Navbar */

.container-navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;

}

.navbar {

    background-color: #1CA32A;
    margin: 0;
    border: 0;
    /* opacity: 0.95; */
    font-weight: bold;
}

.navbar .navbar-toggler {
    border: 0;
}

/*  Main Containers */

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-landing {
    height: 80vh;
    /* different heights on different screens - test*/
    background: url("../images/holbox1.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.container-tips {
    height: 85vh;
    /* different heights on different screens - test*/
    background: url("../images/ankor.wat.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.container-tact {
    height: 90vh;
    /* different heights on different screens - test*/
    background: url("../images/ho.chi.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.container-scores {
    height: 93vh;
    /* to fit kitchen sink*/
    /* different heights on different screens - test*/
    background: url("../images/hoi.an.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.container-about {
    height: 90vh;
    /* different heights on different screens - test*/
    background: url("../images/salar.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.container-media {
    height: 85vh;
    /* different heights on different screens - test*/
    background: url("../images/paracas1.jpg") no-repeat center center fixed;
    /* need a description ? */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


/* Block Dividers */

.block-divider {
    width: 90px;
    height: 5px;
    border: 0;
}

.block-divider--short {
    width: 50px;

}

.block-divider--orange {

    background-color: #ffa31a;
}

.block-divider--white {

    background-color: #fff;
}


/* Jumbotron */

.main-jumbo {
    background-color: transparent;
}


.jumbotron-header {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
}

.jumbotron-lead {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin: 5px;
}


/* Tips - rows/headers/cards */

.row-header-tips {
    margin-top: 25px;
    margin-bottom: -5px;
    padding-top: 15px;
}

.row-cards {
    margin-bottom: 10px;
}

.header-tips {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.row-button {

    margin-top: 5px;
}

/* Cards within Tips section */

.card {
    background-color: #fff;
}

.container-cards {
    margin: 0px;
    padding: 5px;
    opacity: 0.85;
    color: #1CA32A;
    font-weight: bold;
    font-style: italic;
}

.card-deck .card {
    margin-bottom: 8px;
    border: 0;
}

.card-body {
    padding: .25rem;
}

.container-cards a {
    color: #1CA32A;
}

.card-title {
    font-weight: bold;
    font-size: 25px;
}

.card-text {
    padding: 2px;
}

.card-icon i {
    color: #ffa31a;
}



/* Contact Page */

.header-contact {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.bg-color-contact {
    opacity: 0.9;
    background-color: #ffa31a;
}

.contact-header {
    color: black;
}

/* Contact Form Section witin Contact Page */

.row-header-contact {
    margin-top: 20px;
    margin-bottom: 5px;
}

.contact-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.row-contact {
    margin: 5px;
}

.center-form {
    padding: 5px;
    margin: 0 auto;
    /* how to center content*/
    max-width: 80%;
}

button[type="submit"] {
    margin: 5px;
    color: #fff;
}

/* Eco-Scores */

.scores-jumbo {
    background-color: transparent;
    /* #ffa31a */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 auto;
}


.header-scores {

    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;

}

.score-card-eco {
    color: #1CA32A;
}


/* About Page  */

.header-about {

    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;

}

.about-jumbo {

    background-color: #ffa31a;
    opacity: 0.95;
    margin: 0px 5px;
    ;
    padding: 5px 10px;
    
}
 /* formerly blockquote 
.about-head  {
    color: #fff;
    font-style: italic;
    font-size: 20px; 
} 




.blockquote i {
    color: #fff;
} 
*/


.row-about {
    margin: 10px;

}

.bg-color-about {
    background-color: #fff;
}

.about-card {
    height: 15rem;
    width: 20rem;
}


/* Media  including video and audio clip */

.row-header-media {
    margin-top: 20px;
    margin-bottom: 5px;
}

.header-media {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.media-jumbo {
    background-color: #ffa31a;
    /*  opacity stops carousel from working */
    margin: 10px;
    padding: 12px 15px;
    
}

.card-img-top {
    width: 100%;
    height: 10vh;
}

.vid-header {
    background-color: #1CA32A;
}

.audio-header {
    background-color: #1CA32A;
}

.snaps-header {
    background-color: #1CA32A;
}


.audio-text {
    font-size: 1em;
    text-align: center;
    display: block;
    color: #fff;
    padding-top: 10px;
}

.audio-button-text {
    font-size: 1em;
    text-align: center;
    display: block;
    color: #fff;
    padding-top: 10px;
}



/*
.audio-header {
    padding-bottom: 15px;
} */

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.container-snaps {
    margin-top: 10px;
}

.button-snaps {
    margin-top: 10px;
}


/* Footer */

#footer {
    height: 47vh;
    background-color: #1CA32A;
    /* orange */
    margin: 0;
}

#footer i {
    color: #fff;

}

.footer-header {
    height: 10vh;
    text-align: center;
}

.text-uppercase {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 10px;
}

.inline-block {

    display: inline-block;
    text-align: center;
    /* icons to the center */
}

.row-stats {
    text-align: center;
    /* padding: 4px 10px; */
    margin: 0;

}

.stats-text {
    font-size: 1em;
    text-align: center;
    display: block;
    color: #fff;
    padding-top: 10px;
}


/* media queries */

@media screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;

    }
}

@media screen and (max-width: 576px) {
    .hidden-xs-down {
        display: none;

    }
}


@media(min-width: 992px) {
    /* when screen size is larger than 992px */
    .center-form {
        padding: 15px;
        margin: 0 auto;
        min-height: 250px;
        max-width: 90%;
    }
}
